
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 9000
}

.modalContent {
    position: absolute;

    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;

}

@media screen and (min-width: 1024px) {
    .modalContent {
        margin-top: -50px;
        margin-left: -50px;
        top: 30%;
        left: 30%;
        width: 40%;
        height: 40%
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .modalContent {
        margin-top: 0;
        margin-left: 0;
        top: 10%;
        left: 10%;
        bottom: 0;
        right: 0;
        width: 80%;
        height: 60%
    }
}

@media screen and (max-width: 768px) {
    .modalContent {
        margin: 0;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%
    }
}

@media screen and (max-height: 320px) {
    .modalContent {
        margin: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
    }
}
